[flake8]
# 忽略的规则代码
# E501: 忽略单行代码长度超过限制的检查
# E402: 忽略模块级导入不在文件顶部的检查
# F401: 忽略导入的变量未使用
# F405: 忽略使用 * 号引入的变量未定义
# F841: 忽略定义的变量未使用
# C0115: 忽略文档注释docstring
ignore = E501, E402, F401, F405, F841,C0115

# 设置单行代码的最大长度（默认是 79）
# 这里设置为 120，可以根据团队规范调整
max-line-length = 120

# 排除不需要检查的目录或文件
# .git: Git 版本控制目录
# __pycache__: Python 编译缓存目录
# venv: 虚拟环境目录
exclude = .git,__pycache__,venv,.venv
