version: '3.8'

services:
  fastapi:
    image: python:3.12-slim
    container_name: dify_on_dingtalk
    restart: unless-stopped
    volumes:
      - .:/work
      - pip_cache:/root/.cache/pip
    environment:
      - HF_ENDPOINT=${HF_ENDPOINT:-https://hf-mirror.com}
      - PIP_INDEX_URL=${PIP_INDEX_URL:-https://pypi.tuna.tsinghua.edu.cn/simple}
    working_dir: /work
    extra_hosts:
      - host.docker.internal:host-gateway
    command: >
      sh -c "
            # 安装系统依赖
            pip config set global.index-url https://pypi.tuna.tsinghua.edu.cn/simple &&
            pip install -r requirements.txt &&
            # 运行
            python app.py
            "
  redis:
    image: redis
    container_name: redis
    privileged: true
    restart: unless-stopped
    volumes:
      - ./data:/data
      - ./conf/redis.conf:/usr/local/etc/redis/redis.conf
      - ./logs:/logs
    command: ["redis-server","/usr/local/etc/redis/redis.conf"]
    #ports:
    #  - 6379:6379
    environment:
      - TZ="Asia/Shanghai"

volumes:
  pip_cache: